#chartContainer {
    width: 300px;
    /* Đặt chiều rộng container */
    height: 300px;
    /* Đặt chiều cao container */
    margin: auto;
    /* Căn giữa container */
  }

  canvas {
    width: 100% !important;
    /* Đảm bảo canvas chiếm toàn bộ diện tích container */
    height: 100% !important;
    /* Đảm bảo canvas chiếm toàn bộ diện tích container */
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
  .info-box {
    display: flex;
    justify-content: center;
    height: 12pc;
    margin-top: 2pc;
  }

  .info-box i {
    color: rgb(95, 183, 197);
  }

  .info-box p {
    font-size: 2pc;
    text-align: center;
    font-family: "Poppins";
  }

  .total {
    padding: 2pc;
    margin: 0 2pc;
    background-color: #eaeaea;
    border-radius: 1pc;

  }

  .custom-size {
    font-size: 5pc;
    /* Điều chỉnh kích thước theo ý bạn */
  }