<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    <h1>User Login</h1>
    <form action="/v1/user/login" method="POST">
        <input type="email" name="email_user" required placeholder="Enter your email">
        <input type="password" name="password_user" required placeholder="Enter your password">
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/v1/user/signup">Sign up here</a></p>
</body>
</html>
