<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Add any CSS or meta tags you need here -->
</head>
<body>
    <header>
        <h1>Login Page</h1>
    </header>
    <main>
        <section>
            <!-- Add login form here -->
            <form action="/login" method="POST">
                <!-- Add input fields for email and password -->
                <input type="email" name="email_user" placeholder="Email" required>
                <input type="password" name="password_user" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
           
        </section>
        <a href="signup">signup</a>
    </main>
    <footer>
        <p>&copy; 2024 Your Website</p>
    </footer>
    <!-- Add any JavaScript you need here -->
</body>
</html>
