<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <title>Document</title>
</head>

<body>
  <div class="menu">
    <div class="btn">
      <button onclick="window.location.href = '/v1/home'"><i class="fa-solid fa-house custom-size"></i></button>
      <button onclick="window.location.href = '/v1/habit/create'"><i class="fa-solid fa-plus custom-size"></i></button>
      <button onclick="window.location.href = '/v1/record'"><i class="fa-solid fa-file custom-size"></i></button>
      <button onclick="window.location.href = '/v1/user/profile'"><i class="fa-solid fa-gear custom-size"></i></button>

    </div>
  </div>
  <form action="/v1/user/logout" method="POST">

    <button type="submit">Logout</button>
  </form>

<button onclick="window.location.href = '/v1/user/updateUser'">Back to Home</button>
<button onclick="window.location.href = '/v1/home'">Back to Home</button>

</body>

</html>