<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Target Habit</title>
  </head>
  <body>
    <div id="targetHabitInfo">
      <p>Name: <%= habitData.name_habit %></p>
      <p>Target <%= habitData.goal_target%></p>

      <label for="quantity">New Quantity:</label>
      <input type="number" id="quantity" name="quantity" value="0" min="0" />

      <button onclick="changeQuantity(-1)">Decrease</button>
      <button onclick="changeQuantity(1)">Increase</button>
    </div>
    <script>
      function changeQuantity(change) {
        const quantityInput = document.getElementById("quantity");
        let newQuantity = parseInt(quantityInput.value) + change;
        if (newQuantity < 0) {
          newQuantity = 0;
        }
        quantityInput.value = newQuantity;
      }
    </script>
  </body>
</html>
